@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Squil';
  src: url('Squil-Light.woff2') format('woff2');
  font-weight: 300; /* matches Tailwind's font-light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Squil';
  src: url('Squil-Medium.woff2') format('woff2');
  font-weight: 400; /* Corrected: matches Tailwind's font-normal/medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Squil';
  src: url('Squil-Bold.woff2') format('woff2');
  font-weight: 700; /* matches Tailwind's font-bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lowdrag';
  src: url('Lowdrag-Narrow.woff2') format('woff2');
  font-weight: 300; /* matches Tailwind's font-light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lowdrag';
  src: url('Lowdrag-Regular.woff2') format('woff2');
  font-weight: 400; /* Corrected: matches Tailwind's font-normal/medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lowdrag';
  src: url('Lowdrag-Wide.woff2') format('woff2');
  font-weight: 700; /* matches Tailwind's font-bold */
  font-style: normal;
  font-display: swap;
}

@layer base {
  h1 {
    @apply mb-4 font-lowdrag text-3xl font-bold md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply mb-3 font-lowdrag text-2xl font-semibold leading-5 md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply font-lowdrag text-base font-semibold md:text-xl lg:text-xl;
  }

  p {
    @apply font-squil text-xs font-light md:text-lg lg:text-xl;
  }
}
